<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>
      <ion-label>
        <app-button icon="arrow-back-outline" size="large" link=""></app-button>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" scroll-y="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Header</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngIf="filterData">
    <ion-card-header>
      <ion-card-subtitle>{{filterData.email}}</ion-card-subtitle>
      <ion-card-title>{{filterData.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{filterData.description}}</ion-card-content>
  </ion-card>
</ion-content>